/* -------------------------- RESET --------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* -------------------------- ASSETS -------------------------- */

:root {
  --gradient: linear-gradient(
    45deg,
    #0000ff,
    #89cff0,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ff6444,
    #ff3212,
    #ffc75f,
    #f9f871
  );
}

body {
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}

.gradient {
  width: 100vw;
  height: 700px;
  background-image: var(--gradient);
  clip-path: polygon(0 0, 100% 0%, 100% 52%, 0 100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-size: 200%;
  animation: bg-animation 20s infinite alternate;
}

a:hover {
  opacity: 0.7;
}

.img-shadow {
  width: 45vw;
  height: 90%;
  border-radius: 50px;
  box-shadow: 8px 7px 33px 5px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 8px 7px 33px 5px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 8px 7px 33px 5px rgba(0, 0, 0, 0.61);
}

/* -------------------------- MAIN CONTAINER -------------------------- */

.main-container {
  background: #000;
}

/* -------------------------- MAIN CONTAINER -------------------------- */

.section-container {
  width: 100%;
  padding: 0 100px;
  z-index: 99;
}

/* ------------------------------- NAVBAR ------------------------------ */

/* -nav container- */

.nav-container {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}

/*  - logo - */

.nav-container .logo {
  font-size: 50px;
  font-weight: 700;
  text-decoration: none;

  color: #fff;
  margin-right: 60px;
  z-index: 99;
}

/* -left navbar- */

.nav-container nav {
  width: 100%;
  z-index: 99;
}

.nav-container nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container nav ul li {
  list-style: none;

  font-size: 20px;
  font-weight: 500;
}

.nav-container nav ul li a {
  color: #ffffff;
}

.cta-sales,
.cta-dashboard {
  display: flex;
  align-items: center;

  border-radius: 30px;
  padding: 10px 20px;

  color: #fff;
  background-color: rgba(128, 128, 128, 0.288);
}

/* -menu- */
.nav-container .bxs-plus-circle {
  display: none;
  font-size: 40px;
  color: white;
  position: fixed;
  z-index: 99;
  top: 60px;
  right: 60px;
  transition: all 0.3s ease-in-out;
}

.bxs-plus-circle.open {
  transform: rotate(-135deg);
}

/* --------------------------  HERO SECTION -------------------------- */

/* - HERO CONTAINER - */
.hero-container {
  margin-top: 80px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.hero-caption {
  z-index: 99;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-container .content {
  font-size: 22px;

  z-index: 99;
  color: #fff;
}

.hero-caption span {
  color: #fff;
  font-weight: 700;
  padding: 10px 15px;
  background-color: rgba(3, 3, 3, 0.274);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-caption span a {
  text-decoration: none;
  color: whitesmoke;
}

.hero-container .left-column {
  z-index: 99;
  display: flex;

  width: 700px;

  flex-direction: column;

  align-self: stretch;

  justify-content: space-between;
}

.hero-container .title {
  font-size: 6vw;
  font-weight: 700;
  color: #ffffff;
}

.cta-button a {
  font-size: 22px;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}

.cta-button .start-btn {
  background: rgb(142, 135, 210);
  border-radius: 30px;
  margin-right: 10px;
}

.cta-button .contact-sales-btn {
  color: rgb(142, 135, 210);
  border: 2px solid rgb(142, 135, 210);
  border-radius: 30px;
}

.hero-container img {
  z-index: 99;
  margin-left: 40px;
  width: 400px;
}

/* -------------------------------- brand SVG ------------------------------- */

.brand-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 50px;
  align-items: center;
}

.brand-container svg {
  /* font-size: 60px; */
  /* padding: 50px 0; */
  max-width: 250px;
  /* padding: 30px; */
  align-self: self-start;
  justify-self: self-start;
}

/* --------------------------- INTRO CONTAINER --------------------------- */

.intro-container {
  background-color: #ece1ff96;
  padding-top: 200px;
  padding-bottom: 200px;
  height: auto;
}

.intro-container h1 {
  font-size: 70px;
}

.intro-container h2 {
  font-size: 35px;
}

.intro-container p {
  font-size: 22px;
  line-height: 2.4rem;
}

.intro-1-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-1-hero {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 70px;
}

.intro-1-hero h2 {
  font-weight: 600;
  color: #4500b5;
}

/* .intro-1-hero p {
  line-height: 2.4rem;
} */

.intro-1-box .apple-pay {
  margin-left: 80px;
  /* align-self: flex-start; */
}

/* .intro-1-box .right-column img {
  border-radius: 50px;
  max-width: 700px;
  box-shadow: 8px 7px 33px 5px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 8px 7px 33px 5px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 8px 7px 33px 5px rgba(0, 0, 0, 0.61);
} */

/* - INTRO-2-BOX - */

.intro-2-box {
  background-color: rgb(0, 71, 97);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 99;
}

.intro-2-box .top-col {
  display: flex;
  margin-bottom: 100px;
  margin-top: 400px;
}

.intro-2-box .top-col .left-col {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-gap: 50px;
  margin-right: 70px;
}

.intro-2-box h2 {
  color: #91faff;
}

.intro-2-box h1 {
  color: white;
}

.intro-2-box .title {
  color: rgb(159, 178, 237);
}

.intro-2-box .left-col a {
  text-decoration: none;
  color: rgb(0, 71, 97);
  background-color: #91faff98;
  font-size: 1.4rem;
  font-weight: 700;
  width: 230px;
  height: 50px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-2-box .bottom-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;

  margin-bottom: 400px;
}

.intro-2-box .bottom-col .service-box {
  width: 80%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-gap: 15px;
}

.intro-2-box .bottom-col .service-box i {
  font-size: 50px;
  color: white;
}

.intro-2-box .bottom-col .service-box h4 {
  font-size: 20px;
  color: white;
}

.intro-2-box .bottom-col .service-box p {
  color: rgb(209, 209, 209);
  font-weight: 500;
}

.intro-2-box .bottom-col .service-box a {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #91faff;
}

.intro-2-box .bottom-col .service-box a i {
  font-size: 20px;
  color: #91faff;
}

/* --- INTRO 3 --- */
.intro-3-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 100px;
}

.intro-3-box .content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 50px;
  margin-right: 50px;
}

.intro-3-box h2 {
  color: #4500b5;
  font-size: 1.6rem;
  font-weight: 700;
}

.intro-3-box .title {
  font-size: 2.8rem;
  font-weight: 700;
}

.intro-3-box p {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgb(61, 61, 61);
}

.intro-3-box a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  background: #4500b5;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hard-working img {
  border-radius: 40px;
  width: 800px;
}

/* ----------------------------- FOOTER ------------------------------ */
.footer {
  /* background-color: rgb(255, 255, 255); */
  padding: 100px 0;
}

.footer .section-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  justify-items: center;
}

.footer .section-container > * {
  align-self: flex-start;
}

.footer h3 {
  color: #fff;
  margin-bottom: 10px;
}

.logo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-info h3 {
  font-size: 2rem;
}

.logo-info i {
  margin-right: 10px;
}

.logo-info li {
  font-size: 1rem;
  color: grey;
  margin-bottom: 5px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

ul li {
  list-style-type: none;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer nav ul li {
  margin-left: 0px;
  margin-bottom: 5px;
}

.footer nav ul li a {
  font-size: 1rem;
  color: grey;
}

.column-box {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

/* ----------------------------- ANIMATION------------------------------ */

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/* ----------------------------- RESPONSIVE ----------------------------- */
@media only screen and (max-width: 1380px) {
  .gradient {
    clip-path: polygon(0 0, 100% 0%, 100% 72%, 0 100%);
  }

  .intro-container {
    padding-bottom: 100px;
  }

  .intro-container h1 {
    font-size: 50px;
  }

  .intro-1-box {
    flex-direction: column;

    align-items: center;
  }

  .intro-2-box .top-col .left-col {
    margin-right: 0;
  }

  .intro-container img {
    width: 100%;

    margin-top: 100px;
    margin-bottom: 100px;
    align-self: end;
  }
}

@media only screen and (max-width: 1065px) {
  .gradient {
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0 100%);
  }
  .intro-2-box {
    background-color: rgb(0, 71, 97);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
  /* .intro-2-box {
    margin-top: 200px;
  } */
  /* 
  .intro-2-box {
    padding: 0px;
    margin-bottom: 0;
  } */

  /* .intro-2-box {
    padding: 50px 0;
  }

  .intro-3-box {
    margin-top: 40px;
  } */

  .intro-2-box .bottom-col {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .nav-container .bxs-plus-circle {
    display: flex;
    z-index: 1;
  }
  .logo {
    position: absolute;
    top: 60px;
  }

  .nav-container nav {
    display: none;
    position: sticky;
    /* top: 80px; */
    padding-top: 60px;
  }

  .nav-container nav ul {
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  .nav-container nav ul li {
    /* display: block; */
    font-size: 30px;
    /* justify-self: flex-start; */
    align-self: center;
  }

  .nav-container nav.open {
    display: flex;
    flex-direction: column;

    /* flex-direction: row; */
  }

  .hero-container img {
    width: 350px;
  }
}

@media only screen and (max-width: 978px) {
  /* .gradient {
    clip-path: polygon(0 0, 100% 0%, 100% 92%, 0 100%);
  } */
  .brand-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro-container {
    padding-bottom: 50px;
  }

  .intro-2-box {
    flex-direction: column;
    align-items: center;
  }

  .intro-2-box .bottom-col {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  /* .apple-pay {
    margin-left: 0;
  } */
  .hero-container {
    height: 500px;
  }
  .iphone-xr {
    display: none;
  }

  .footer .section-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 582px) {
  .section-container {
    padding: 0 50px;
  }

  .brand-container {
    padding: 40px 0;
  }

  .intro-2-box {
    background-color: rgb(0, 71, 97);
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
  }

  .cta-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer .section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 453px) {
  .section-container {
    padding: 0 20px;
  }

  .brand-container {
    padding: 40px 0;
  }
  .footer .section-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer .section-container .logo-info {
    /* align-self: flex-end; */
    justify-self: flex-start;
  }
  .footer .section-container .product {
    justify-self: flex-start;
  }
  .footer .section-container .res-com {
    justify-self: flex-start;
  }
}
